.App {
  text-align: center;
  height: 100%;
}

.character-form{
  display: block;
  border: solid 1px black;
  width: 600px;
  text-align: center;
  background-color: #6e5d39;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");  
  margin: auto;
  border-radius: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 10px black;
}


.builder{
  display: block;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 500px;
  border: 1px solid black;
  background-color: #c49e52d2;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); 
  border-radius: 100px;
  padding-bottom: 30px;
}

.builder-choices{
  display: block;
  margin: auto;
  border-radius: 100px;
  width: 400px;
  padding: 15px;
  box-shadow: 2px 6px black;
  border: 1px solid #5c4d2f;
  background-color: #857148;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.name{
  display: block;
  box-shadow: 2px 6px black;
  border: 1px solid grey;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%); 
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-family: D;
}

.name-plate{
  display: block;
  box-shadow: 2px 6px black;
  border: 1px solid grey;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%);
  width: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
}

.title{
  display: block;
  box-shadow: 2px 6px black;
  border: 1px solid grey;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%); width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.current-choice{
  display: block;
  height: 20px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 2px 6px black;
  border: 1px solid grey;
  border-radius: 25px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%); 
  width: 100px;
}

.choice{
  border: 1px solid white;
  border-radius: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  padding: 10px;
  opacity: 50;
}

.choice-label:hover {
  background-color: white;
  opacity: 25%;
}

.choice-label:active {
  background-color: white;
  opacity: 50%;
  box-shadow: 10 5px black;
  transform: translateY(4px);
}

.choice-label{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 100px;
  box-shadow: 2px 6px black;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%);
}

.text-field{
    width: 200px;
    border-radius: 15px;
}

.save-button{
    height: 30px;
    width: 60px;
    border-radius: 25px;
    margin-top: 40px;
}



.form-body{
  display: block;
  width: 800px;
  height: 700px;
  text-align: center;
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}



.enter-label{
  display: block;
  height: 500px;
  width: 400px;
  background: black;
  border: 5px solid black;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  right: 450px;
}

.enter{
  position: absolute;
  bottom: 210px;
  right: 610px;
  z-index: 2;
  opacity: 0;
  height: 120px;
  width: 100px;
}


.character-card{
  display: block;
  margin-top: 800px;
  margin-bottom: 20px;
  margin: auto;
  width: 500px;
  border: 1px solid grey;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%);
  border-radius: 100px;
  box-shadow: 5px 5px black;
  text-decoration: underline;
  font-size: 15px;
  padding: 5px;   
}

.new-character{
  display: block;
  border: solid 1px black;
  width: 600px;
  text-align: center;
  background-color: #6e5d39;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");  
  margin: auto;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 5px 10px black;
  padding: 10px;
}

.characters{
  display: block;
  list-style: horizontal;
  margin-left: 10px;
  margin-top: 50px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%);
  margin-right: 10px;
  text-align: center;
  width: 150px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px black;
}

.character-list{
  display: inline-block;
  width: 600px;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: #6e5d39;
  border: 1px solid black;   
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");  
  border-radius: 100px;
  box-shadow: 5px 10px black;
  align-content: center;
  margin-left: 320px;
  padding: 20px;
}

.character-display{
  display: inline-block;
  margin: auto;
  align-content: center;
}

.characters-title{
  display: block;
  box-shadow: 2px 6px black;
  border: 1px solid grey;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  
  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
  hsl(0,0%,90%) 47%, 
  hsl(0,0%,78%) 53%,
  hsl(0,0%,70%)100%); width: 200px;
  margin-left: 185px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}