.App {
  text-align: center;
  height: 100%;
}

.character-form{
  display: block;
  border: solid 1px black;
  width: 600px;
  height: 750px;
  text-align: center;
  background: linear-gradient(white, grey, white);
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}

ul {
  position: fixed;
  top: 0;
  width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 25px;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li .showList{
  float: right;
}

.builder{
  display: block;
  margin: auto;
  margin-top: 50px;
  height: 650px;
  width: 500px;
  border: 1px solid black;
  background: #333;
  color: white;
  border-radius: 25px;
}

.builder-choices{
  display: block;
  border: 1px solid white;
  margin: auto;
  width: 300px;
  border-radius: 25px;
  padding: 5px;
}

.choice{
  margin-right: 10px;
  margin-left: 5px;
}


.bio{
  display: block;
  border: 1px solid white;
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  padding: 10px;
}

.text-field{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 280px;
}

.text-label{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 280px;
}

.form-body{
  display: block;
  width: 800px;
  height: 700px;
  text-align: center;
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}

body{
  background:black;
}

.flame1{
  position: absolute;
  left: 70px;
  bottom: 300px;
  display: block;
  width: 40px;
  height: 40px;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame2{
  position: absolute;
  right: 90px;
  bottom: 300px;
  display: block;
  width: 40px;
  height: 40px;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;  
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

.torch-handle1{
  display: block;
    width: 25px;
    height: 200px;
    background:linear-gradient(to right, brown, maroon, brown);
    border-bottom: solid 4px tan;
    border-top: solid 5px darkslategray;
    border-radius: 5px;
    position: absolute;
    bottom: 80px;
    left: 88px;
    
}

.torch-handle2{
  display: block;
    width: 25px;
    height: 200px;
    background:linear-gradient(to right, brown, maroon, brown);
    border-bottom: solid 4px tan;
    border-top: solid 5px darkslategrey;
    border-radius: 5px;
    position: absolute;
    bottom: 80px;
    right: 86px;
}

.torch-grip1{
  display: block;
  width: 23px;
  height: 40px;
  background: linear-gradient(to right,silver,grey, silver);
  z-index: 1;
  position: absolute;
  bottom: 140px;
  left: 88px;
  border: 1px solid darkgray;
  border-bottom: solid 2px grey;
    border-top: solid 1px grey;
    border-radius: 5px;
}

.torch-grip2{
  display: block;
  width: 23px;
  height: 40px;
  background: linear-gradient(to right,silver,grey, silver);
  z-index: 1;
  position: absolute;
  bottom: 140px;
  right: 86px;
  border: 1px solid darkgray;
  border-bottom: solid 2px grey;
    border-top: solid 1px grey;
    border-radius: 5px;
}